[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SparseBiplots"]
	path = SparseBiplots
	url = https://github.com/mitzicubillamontilla/sparsebiplots
